<h1 class="text-center mt-5" >Search results</h1>
<div class="row mb-2">

        <% if(post !='' ){ %>
            <% post.forEach(function(post, index){ %>
                <div class="container col-xxl-8 px-4 py-5">
                <div class="col-md-6">
                    
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-5 shadow-sm h-md-250 position-relative">
                        <div class="col p-4  d-flex flex-column position-static">


                            <h3 class="mb-0"><%- post.title %></h3>
                            <div class="mb-1 text-muted"><i class="fas fa-user"></i><%- post.username %></div>
                            <p class="card-text mb-auto"><%- post.content %></p>
                            <a href="/view/<%- post._id %>" class="stretched-link">Continue reading</a>
                            
                        </div>

                        <div class="col-auto d-none d-lg-block">
                            <img class="bd-placeholder-img" width="200" height="250" src="<%= post.imageUrl %>"> </img>

                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        <% } else { %>
            <h2 class="search">No search results </h1>
            <% } %>
    </div>