<% if(errorMessage) { %>
  <div class="user-message user-message--error"><%= errorMessage %></div>
  <% } %>
<h1 class="text-center mt-4" >View Post</h1>
    <% if(post!= null){%>
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="/<%= post.imageUrl %>" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" >
              </img>
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3"><%- post.title %></h1>
                <p class="lead mt-4"><%- post.content %></p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <% if(isAuthenticated){ %>
                   <a href="/edit/<%= post._id %>" class="btn btn-primary btn-lg px-4 mt-4 me-md-2">Edit</a>
                   <form action="/delete/<%= post._id %>" method="POST">
                    <input type="hidden" value="<%= post._id %>" name="postId">
                    <button class="btn btn-danger btn-lg px-4 mt-4" type="submit">Delete</button>
                </form>
                 <% } %>
                </div>
              </div>
            </div>
          </div>

       <% } %>
   